* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

.item {
  background: #f6f6fe;
  border-radius: 8px;
padding: 16px;
margin-bottom: 24px;

}

.item:last-child {
  margin-bottom: 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
font-size: 24px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 0;
margin-bottom: 16px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
font-size: 16px;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 8px;
}

.text:last-child {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.label-for {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;

display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
margin-bottom: 16px;
}

/* .label-for:hover,
.label-for:active {
  border: 1px solid #000;
border-radius: 4px;
width: 360px;
height: 40px;
} */

.btn-for {
    font-family: "Montserrat", sans-serif;
  border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background-color: #4e75ff;
cursor: pointer;
color: #ffffff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border: none;
}

.btn-for:hover {
  background-color:#6c8cff;
}

.input-for {
  border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
}

.are-thi {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}

.input-thi {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
border-radius: 4px;
padding-left: 16px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

.text-fiw {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

.change-color {
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: none;
  color: #ffffff;

  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

}