* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  background: #f6f6fe;
  border-radius: 8px;
padding: 16px;
margin-bottom: 24px;

}

.item:last-child {
  margin-bottom: 0;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
font-size: 24px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
margin-top: 0;
margin-bottom: 16px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
font-size: 16px;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 8px;
}

.text:last-child {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}